:root{
	--verde: #109410;
	--azul: #0414a3;
}
html{
	font-size: 62.5%;
   
	
}



h1 {
  color: rgb(73, 119, 170);
  text-align: center;
  font-family: cursive;
}

p {
  font-family: cursive;
  font-size: 2rem;
}

/*Menu*/
.bg {
	background-color: #7de7a1;
	}

.contenedor {
	width: 120rem;
	margin: 0 auto;
}
.navegacion  {
	display: flex;
    color: #7de7a1;
	justify-content: space-between;
	text-decoration: none;
  }
  @media (max-width: 600px){ 
	.contenedor {
	  display: none;

	}
	}

.navegacion a {
	text-decoration: none;
	padding: 1rem;
	font-size: 2rem;
}

  
a:hover:not(.active) {
	background-color: #000333;
	color: white;
  }



.caja  {
  width: 20%;
	float: right;
	border: 1px dotted green;
	margin-left: 1em;
	padding: 1em;
	
	
}
.caja p  {
	font-family: cursive;
	font-size: 15px;	
}

.contenido  {

 
  padding: 0.5em;
  background-color: #52b47e;
}

/* De la pagina de Productos*/
.producto {
	width: 16em;
	height: 16em;
	border: 2px solid #000;
	float:left;
	margin: 0.5em;
	padding: 0.5em;

}
.titulo{
	margin: 0.5em;
	font-family: cursive;
	font-size: 20px;	
	font-weight: bold;
	text-align: center;
}
.descripcion{
	margin: 0.5em;
	font-family: cursive;
	font-size: 1,5rem;	
	font-style: italic;
}

.producto img{ 
	text-align:center;
	display: block;
	width: 17rem;
	margin: auto;
}
/* De la pagina de Contacto*/
.fa {
	padding: 2rem;
	font-size: 3rem;
	text-decoration: none;
}
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagen/descarga.jpg");
	position:relative;
	padding: 0 auto;
	
	
}
.redes{
	display: flex;
	text-align: right;
	padding: 2rem;

 }




